<a href="https://colab.research.google.com/github/MykolaPrykhodko/MykolaPrykhodko/blob/main/%D0%94%D0%B5%D0%BD%D0%B8%D1%81_Buget_FOP_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Програма розрахунку бюджетних показників ФОП АТ "Украгазбанка"**

In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path

## Підключення хмарного середовища зберігання довідників для розрахунку

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

## Для читання потрібна певна авторізація

###Імпортування бібліотек для аутентифікації та встановлення зв'язку із Таблицями.

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

### Відкриття файла із переліком персонала для обчислювання за посіланням (url)

In [ ]:
path_in ='/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/staff.xlsx'

### Отримані дані перетворюємо на датафрейм, як дінамічну структуру даних для подальшого доповнення результатами розрахунків (як приклад - в консоль роздруковано перших 20 значень)

In [ ]:
df_staff = pd.read_excel(path_in).astype({"tabNum": str}, errors='raise')
df_staff_for_merge = pd.read_excel(path_in).astype({"tabNum": str}, errors='raise')

In [ ]:
print(df_staff.tail(10))

           tabNum      Name    CFOcode                CFOname
3721  вакансія_61   нач.від     1.57.   Департамент комплаєнс
3722  вакансія_62   нач.від     1.57.   Департамент комплаєнс
3723  вакансія_63  гол.спец     1.57.   Департамент комплаєнс
3724  вакансія_64   нач.від     1.57.   Департамент комплаєнс
3725       труд_1        НР  9.00.3.1.                     НР
3726       труд_2        НР  9.00.3.1.                     НР
3727       труд_3        НР  9.00.3.1.                     НР
3728       труд_4        НР  9.00.3.1.                     НР
3729       труд_5        НР  9.00.3.1.                     НР
3730       труд_6        НР  9.00.3.1.                     НР

## Допоміжні функції розрахунків

In [ ]:
def avg_salary(path_in):
  p_3 = pd.read_excel(path_in)

  def calculate(num_tab):
    x = 1
    y = 7
    lst = []
    while y <= len(p_3.columns):
        avg = sum(p_3.iloc[num_tab, x:y])/6
        lst.append(avg)
        x += 1
        y += 1
    return lst
  
  global_lst = []
  for i in range(len(p_3)):
    global_lst.append(calculate(i))
    
  df = pd.DataFrame(global_lst)

  finish = pd.concat([p_3['tabNum'], df], axis=1).iloc[:,0:13]
  finish.rename(columns={0: 'січень'
  , 1: 'лютий'
  , 2: 'березень'
  , 3: 'квітень'
  , 4: 'травень'
  , 5: 'червень'
  , 6: 'липень'
  , 7: 'серпень'
  , 8: 'вересень'
  , 9: 'жовтень'
  , 10: 'листопад'
  , 11: 'грудень'}, inplace=True)
  finish=pd.melt(finish, id_vars='tabNum', value_vars=['січень',
                                                        'лютий',
                                                        'березень',
                                                        'квітень',
                                                        'травень',
                                                        'червень',
                                                        'липень',
                                                        'серпень',
                                                        'вересень',
                                                        'жовтень',
                                                        'листопад',
                                                        'грудень'])
  
  finish = finish.rename(columns={'variable': 'period', 'value': 'avg_salary'})
  finish = finish.astype({"tabNum": str}, errors='raise') 
  return finish

In [ ]:
def f_54110(path_in):
    # Считывание файла справочника
    df_salary = pd.read_excel(path_in
                              , sheet_name='_54110'
                              , usecols='A,C:N'
                              , converters={'Таб №': str,
                                            'січень': float,
                                            'лютий': float,
                                            'березень': float,
                                            'квітень': float,
                                            'травень': float,
                                            'червень': float,
                                            'липень': float,
                                            'серпень': float,
                                            'вересень': float,
                                            'жовтень': float,
                                            'листопад': float,
                                            'грудень': float})
    # Преобразование таблицы из широкой в длинную для связывания с итоговой
    df_salary_unpivot = pd.melt(df_salary, id_vars='Таб. №', value_vars=['січень',
                                                                         'лютий',
                                                                         'березень',
                                                                         'квітень',
                                                                         'травень',
                                                                         'червень',
                                                                         'липень',
                                                                         'серпень',
                                                                         'вересень',
                                                                         'жовтень',
                                                                         'листопад',
                                                                         'грудень'])
    df_salary_unpivot = df_salary_unpivot.astype({"Таб. №": str}, errors='raise')
    return df_salary_unpivot

In [ ]:
def f_54118(path_in):
    # Считывание файла справочника
    df_vacantion = pd.read_excel(path_in,
                                 sheet_name='_54118',
                                 usecols='A,C:N',
                                 converters={'Таб №': str,
                                             'січень': float,
                                             'лютий': float,
                                             'березень': float,
                                             'квітень': float,
                                             'травень': float,
                                             'червень': float,
                                             'липень': float,
                                             'серпень': float,
                                             'вересень': float,
                                             'жовтень': float,
                                             'листопад': float,
                                             'грудень': float})

    # Преобразование таблицы из широкой в длинную для связывания с итоговой
    df_vacantion_unpivot = pd.melt(df_vacantion, id_vars='Таб. №', value_vars=['січень',
                                                                               'лютий',
                                                                               'березень',
                                                                               'квітень',
                                                                               'травень',
                                                                               'червень',
                                                                               'липень',
                                                                               'серпень',
                                                                               'вересень',
                                                                               'жовтень',
                                                                               'листопад',
                                                                               'грудень'])

    df_salary_unpivot = df_vacantion_unpivot.astype({"Таб. №": str}, errors='raise')
    df_salary_unpivot = df_salary_unpivot['value'].fillna(0)
    
    return df_vacantion_unpivot

In [ ]:
# Додаткова заробітна плата
def f_54112(path_in):
    # Считывание файла справочника
    df_add_salary = pd.read_excel(path_in
                                  , sheet_name='_54112'
                                  , usecols='B,G'
                                  , converters={'Таб. №': str,
                                                'итог': float})
    return df_add_salary

In [ ]:
# Додаткова заробітна плата 5.4.1.1.3.3. премія за підсумками роботи Банку (за фінансовий рік)
def f_541133(path_in):
    # Считывание файла справочника
    df_add_salary_1 = pd.read_excel(path_in
                                    , sheet_name='_541133'
                                    , usecols='A,C:N').fillna(0)
    # Переворот таблицы из широкой в длинную
    df_add_salary_1 = pd.melt(df_add_salary_1, id_vars='Таб. №', value_vars=['січень',
                                                                             'лютий',
                                                                             'березень',
                                                                             'квітень',
                                                                             'травень',
                                                                             'червень',
                                                                             'липень',
                                                                             'серпень',
                                                                             'вересень',
                                                                             'жовтень',
                                                                             'листопад',
                                                                             'грудень'])
    df_add_salary_1 = df_add_salary_1.astype({"Таб. №": str}, errors='raise')
    
    df_add_salary_1 = df_add_salary_1.rename(columns={'Таб. №': 'tabNum',
                                                      'variable': 'period',
                                                      'value': 'add_salary_1'})

    
    return df_add_salary_1

In [ ]:
# Додаткова заробітна плата 5.4.1.1.3.5. інші премії
def f_541135(path_in):
    # Считывание файла справочника
    df_add_salary_2 = pd.read_excel(path_in
                                    , sheet_name='_541135'
                                    , usecols='A,C:N').fillna(0)
    # Переворот таблицы из широкой в длинную
    df_add_salary_2 = pd.melt(df_add_salary_2, id_vars='Таб. №', value_vars=['січень',
                                                                             'лютий',
                                                                             'березень',
                                                                             'квітень',
                                                                             'травень',
                                                                             'червень',
                                                                             'липень',
                                                                             'серпень',
                                                                             'вересень',
                                                                             'жовтень',
                                                                             'листопад',
                                                                             'грудень'])
    df_add_salary_2 = df_add_salary_2.astype({"Таб. №": str}, errors='raise')
    df_add_salary_2 = df_add_salary_2.rename(columns={'Таб. №': 'tabNum',
                                                      'variable': 'period',
                                                      'value': 'add_salary_2'})

    return df_add_salary_2

In [ ]:
# 5.4.1.1.4. трудові угоди
def f_54114(path_in):
    # Считывание файла справочника
    df_work_argmnt = pd.read_excel(path_in, sheet_name='_54114')

    df_work_argmnt = pd.melt(df_work_argmnt, id_vars='Таб. №', value_vars=['січень',
                                                                           'лютий',
                                                                           'березень',
                                                                           'квітень',
                                                                           'травень',
                                                                           'червень',
                                                                           'липень',
                                                                           'серпень',
                                                                           'вересень',
                                                                           'жовтень',
                                                                           'листопад',
                                                                           'грудень'])
    
    df_work_argmnt = df_work_argmnt.astype({"Таб. №": str}, errors='raise')

    df_work_argmnt = df_work_argmnt.rename(columns={'Таб. №': 'tabNum',
                                                    'variable': 'period',
                                                    'value': 'bug_work_argmnt'}).fillna(0)
    return df_work_argmnt

In [ ]:
def f_5413(path_in):
    # Считывание файла справочника
    df_med_help = pd.read_excel(path_in, sheet_name='_5413', usecols='A:M', converters={'Місяць': str,
                                                                                        'січень': float,
                                                                                        'лютий': float,
                                                                                        'березень': float,
                                                                                        'квітень': float,
                                                                                        'травень': float,
                                                                                        'червень': float,
                                                                                        'липень': float,
                                                                                        'серпень': float,
                                                                                        'вересень': float,
                                                                                        'жовтень': float,
                                                                                        'листопад': float,
                                                                                        'грудень': float})

    df_med_help = pd.melt(df_med_help, id_vars='Місяць', value_vars=['січень',
                                                                     'лютий',
                                                                     'березень',
                                                                     'квітень',
                                                                     'травень',
                                                                     'червень',
                                                                     'липень',
                                                                     'серпень',
                                                                     'вересень',
                                                                     'жовтень',
                                                                     'листопад',
                                                                     'грудень'])
    df_med_help = df_med_help.rename(columns={'variable': 'period', 'value': 'bug_med_help'})
    del df_med_help['Місяць']

    return df_med_help

In [ ]:
# 5.4.1.1.7. індексація
def f_54117(path_in):
    # Считывание файла справочника
    df_index = pd.read_excel(path_in, sheet_name='_54117', usecols='A:M')

    df_index = pd.melt(df_index, id_vars='Місяць', value_vars=['січень',
                                                               'лютий',
                                                               'березень',
                                                               'квітень',
                                                               'травень',
                                                               'червень',
                                                               'липень',
                                                               'серпень',
                                                               'вересень',
                                                               'жовтень',
                                                               'листопад',
                                                               'грудень'])
    df_index = df_index.rename(columns={'variable': 'period', 'value': 'bug_index'})
    del df_index['Місяць']

    return df_index

## **Розрахунок:**

### Щоб отримати щомісячний диапазон планування необхідно додати місяний розподіл:

In [ ]:
months = ['січень', 'лютий', 'березень', 'квітень', 'травень', 'червень', 'липень', 'серпень', 'вересень', 'жовтень', 'листопад', 'грудень']

In [ ]:
df_staff_month = []
for index, row in df_staff.iterrows():
  for l in months:
    df_staff_month.append({
        'tabNum': str(row['tabNum']),
        'period': str(l)})
df_staff = pd.DataFrame(df_staff_month).reindex()

In [ ]:
# df_staff_for_merge.head()

In [ ]:
# df_staff.head()

In [ ]:
df_staff = pd.merge(left=df_staff, right=df_staff_for_merge, left_on='tabNum', right_on='tabNum', how='left')

In [ ]:
#  заміна порожніх значень NaN на пробіл
df_staff['Name'] = df_staff['Name'].fillna('')

In [ ]:
# df_staff.tail(12)

In [ ]:
# df_staff.loc[df_staff.tabNum == 'вакансия_6']

### Доповнення розрахунком середньої зп (період розрахунку попрердні перед розрахунковим 6 місяців) відповідно до наданого файлу [(staff_in_avg.xlsx)](https://docs.google.com/spreadsheets/d/1hM5QhVZbz4R9yxtkOKcWNSCSPW9ebHOv/edit?usp=drive_web&ouid=114658159574667661980&rtpof=true)

In [ ]:
path_in ='/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/staff_in_avg.xlsx'

до кожного табельного номеру розраховується середня зп за останні 6 місяців звітнього року за допомогою функції ***avg_salary***:

In [ ]:
df_staff = pd.merge(df_staff, avg_salary(path_in), how='left', left_on=['tabNum', 'period'], right_on=['tabNum', 'period'])

In [ ]:
#  заміна пустих значень NaN на 0 по колонці avg_salary
df_staff['avg_salary'] = df_staff['avg_salary'].fillna(0)

In [ ]:
df_staff.loc[df_staff.tabNum == 'вакансия_5']

Empty DataFrame
Columns: [tabNum, period, Name, CFOcode, CFOname, avg_salary]
Index: []

In [ ]:
df_staff.loc[df_staff.tabNum == 'вакансия_6']

Empty DataFrame
Columns: [tabNum, period, Name, CFOcode, CFOname, avg_salary]
Index: []

### Додавання планових зп на бюжетний рік, що надані в файлі [data_54110.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I) за статею **5.4.1.1.0. "Основна заробітна плата (оклади) - бюджет"**

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_54110.xlsx'

In [ ]:
# проміжна таблиця для приведення у відповідність назви столбців
df_staff_for_merge = f_54110(path_in).rename(columns={'Таб. №': 'tabNum', 'variable': 'period', 'value': 'bug_salary'})
# доповнення колонкою 'bug_salary' що відповідає статті 
df_staff = pd.merge(df_staff, df_staff_for_merge, how='left', left_on=['tabNum', 'period'], right_on=['tabNum', 'period'])
# заповнення пустых значень NaN на 0
df_staff['bug_salary'] = df_staff['bug_salary'].fillna(0)

In [ ]:
# df_staff.head(12)

In [ ]:
# df_staff.loc[df_staff.tabNum == 'вакансия_6']

### Додавання залишків відпусток (файл [data_54118.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I)), як додаткову колонку ('vacantion') для використання в подальшому розрахунку

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_54118.xlsx'

In [ ]:
df_staff_for_merge = f_54118(path_in).rename(columns={'Таб. №': 'tabNum', 'variable': 'period', 'value': 'vacantion'})
df_staff_for_merge['vacantion'] = df_staff_for_merge['vacantion'].fillna(0)
df_staff_for_merge = df_staff_for_merge.astype({"tabNum": str}, errors='raise')

In [ ]:
df_staff.head()

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0

In [ ]:
df_staff = pd.merge(df_staff, df_staff_for_merge, how='left', left_on=['tabNum', 'period'], right_on=['tabNum','period'])

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
5,8,червень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
6,8,липень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
7,8,серпень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
8,8,вересень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
9,8,жовтень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
10,8,листопад,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN
11,8,грудень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN

### Показник **5.4.1.1.8. "Виплачені відпустки (3-й клас) - бюджет"** визначається, як добуток:
\begin{gather*}
{Виплачені\ відпустки (місяць)}_{бюджет} = ЗП\ середня(місяць)_{грн} \cdot Кількість(місяць)_{дн}
\end{gather*}

In [ ]:
df_staff['bug_vacantion'] = df_staff['avg_salary'] * df_staff['vacantion']

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
5,8,червень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
6,8,липень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
7,8,серпень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
8,8,вересень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
9,8,жовтень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
10,8,листопад,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN
11,8,грудень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN

### Показник **5.4.1.1.1. "Основна заробітна плата"** розраховується, як різниця:
\begin{gather*}
{Основна\ заробітна\ плата(місяць)}_{бюджет} = {Основна\ заробітна\ плата/оклади\ (місяць)}_{бюджет} - {Виплачені\ відпустки (місяць)}_{бюджет} 
\end{gather*}

In [ ]:
df_staff['bug_gen_salary'] = df_staff['bug_salary'] - df_staff['bug_vacantion']

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion,bug_gen_salary
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
5,8,червень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
6,8,липень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
7,8,серпень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
8,8,вересень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
9,8,жовтень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
10,8,листопад,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN
11,8,грудень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,NaN,NaN,NaN

### Показник **5.4.1.1.2. Додаткова заробітна плата**, визначається з файлу [data_54112.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I)

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_54112.xlsx'

In [ ]:
#
df_staff_for_merge = f_54112(path_in).rename(columns={'Таб. №': 'tabNum', 'итог': 'bug_add_salary'})
df_staff_for_merge['bug_add_salary'] = df_staff_for_merge['bug_add_salary'].fillna(0)
df_staff = df_staff.merge(df_staff_for_merge, on='tabNum', how='left').fillna(0)

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion,bug_gen_salary,bug_add_salary
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
5,8,червень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
6,8,липень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
7,8,серпень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
8,8,вересень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
9,8,жовтень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
10,8,листопад,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0
11,8,грудень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0

### Показник **5.4.1.1.3.3. премія за підсумками роботи Банку (за фінансовий рік)** визначається з файлу [data_541133.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I)

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_541133.xlsx'

In [ ]:
df_staff = pd.merge(df_staff, f_541133(path_in), how='left', left_on=['tabNum', 'period'], right_on=['tabNum', 'period'])

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion,bug_gen_salary,bug_add_salary,add_salary_1
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
5,8,червень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
6,8,липень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
7,8,серпень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
8,8,вересень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
9,8,жовтень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
10,8,листопад,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN
11,8,грудень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN

###Показник **5.4.1.1.3.5. Інші премії** визначається з файлу [data_541135.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I)

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_541135.xlsx'

In [ ]:
df_staff = pd.merge(df_staff, f_541135(path_in), how='left', left_on=['tabNum', 'period'],
                    right_on=['tabNum',
                              'period'])

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion,bug_gen_salary,bug_add_salary,add_salary_1,add_salary_2
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
5,8,червень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
6,8,липень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
7,8,серпень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
8,8,вересень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
9,8,жовтень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
10,8,листопад,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN
11,8,грудень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,NaN,NaN

###Показник **5.4.1.1.5. Резерв відпусток (7 кл.)** визначається за допомогою довідника [data_54115.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I)

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_54115.xlsx'

In [ ]:
# Завантаження довідника
df_add_vacant = pd.read_excel(path_in, sheet_name='_54115', usecols='A,E').fillna(0)
# Приведення у відповідність назв вимірів
df_add_vacant = df_add_vacant.rename(columns={'Таб. №': 'tabNum', 'Днів': 'bug_vac_reserv'})
df_add_vacant['tabNum'] = df_add_vacant['tabNum'].astype('str').replace('.0', '')
# df_add_vacant['bug_vac_reserv'] = df_add_vacant['bug_vac_reserv'].astype('int')
# Додавання виміру до кінцевого датасета
df_staff = df_staff.merge(df_add_vacant, on='tabNum', how='left').fillna(0)

In [ ]:
df_add_vacant.dtypes

tabNum             object
bug_vac_reserv    float64
dtype: object

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion,bug_gen_salary,bug_add_salary,add_salary_1,add_salary_2,bug_vac_reserv
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
5,8,червень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
6,8,липень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
7,8,серпень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
8,8,вересень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
9,8,жовтень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
10,8,листопад,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0
11,8,грудень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0

### Показник **5.4.1.1.4. трудові угоди** визначається за допомогою довідника [data_54114.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I)

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_54114.xlsx'

In [ ]:
df_staff = pd.merge(df_staff, f_54114(path_in), how='left', left_on=['tabNum', 'period'], right_on=['tabNum', 'period'])

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion,bug_gen_salary,bug_add_salary,add_salary_1,add_salary_2,bug_vac_reserv,bug_work_argmnt
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
1,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
2,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
3,8,квітень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
4,8,травень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
5,8,червень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
6,8,липень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
7,8,серпень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
8,8,вересень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
9,8,жовтень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
10,8,листопад,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN
11,8,грудень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,NaN

### Показник **5.4.1.3. мат. допомога і інші утримання** визначається за допомогою довідника [data_5413.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I)

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_5413.xlsx'

In [ ]:
# Додавання виміру мат.допомоги до кінцевого датасету
df_staff = df_staff.merge(f_5413(path_in), on='period', how='left').fillna(0)

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion,bug_gen_salary,bug_add_salary,add_salary_1,add_salary_2,bug_vac_reserv,bug_work_argmnt,bug_med_help
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,32000.0
1,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,0.0
2,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,0.0
3,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,500000.0
4,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,32000.0
5,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,0.0
6,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,0.0
7,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,500000.0
8,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,32000.0
9,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,62500.0
10,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,3000000.0
11,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,500000.0

### Проміжний розрахунок індексації за допомогою файлу [data_54117.xlsx](https://drive.google.com/drive/folders/175VRXdf4BPkIyLWTLRLhU9K4BLsc3D4I)

In [ ]:
path_in = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/In/data_54117.xlsx'

In [ ]:
# Додавання значення індексу в розрахункову таблицю
df_staff = df_staff.merge(f_54117(path_in), on='period', how='left').fillna(0)

### Показник **5.4.1.1.7. Індексація** (остаточний розрахунок):

In [ ]:
# ???? уточнить формулу с учетом 5.4.1.3.	мат. допомога і інші утримання
df_staff['bug_indexing'] = (df_staff['bug_salary']
                            + df_staff['bug_add_salary']
                            + df_staff['add_salary_1']
                            + df_staff['add_salary_2']
                            + df_staff['bug_work_argmnt']
                            + df_staff['bug_med_help']) * df_staff['bug_index']

In [ ]:
df_staff.head(12)

,tabNum,period,Name,CFOcode,CFOname,avg_salary,bug_salary,vacantion,bug_vacantion,bug_gen_salary,bug_add_salary,add_salary_1,add_salary_2,bug_vac_reserv,bug_work_argmnt,bug_med_help,bug_index,bug_indexing
0,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,32000.0,0.00832,612.352
1,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,0.0,0.00832,346.112
2,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,0.0,0.00832,346.112
3,8,січень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,500000.0,0.00832,4506.112
4,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,32000.0,0.00820,603.520
5,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,0.0,0.00820,341.120
6,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,0.0,0.00820,341.120
7,8,лютий,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,500000.0,0.00820,4441.120
8,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,32000.0,0.00805,592.480
9,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,62500.0,0.00805,838.005
10,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,3000000.0,0.00805,24484.880
11,8,березень,Багатько Сергій Миколайович,1.19.15.,Операційний департамент,1000.0,0.0,0,0,0,41600.0,0.0,0.0,0.0,0.0,500000.0,0.00805,4359.880

### Показник **5.4.1.2.1. Обов'язкове державне пенсійне та соціальне страхування**

In [ ]:
var_54117 = 6500*15     # ХЗ что за переменная
df_staff['bug_gov_insurance'] = np.where((df_staff['bug_salary']
                                          + df_staff['bug_add_salary']
                                          + df_staff['add_salary_1']
                                          + df_staff['add_salary_2']
                                          + df_staff['bug_work_argmnt']
                                          + df_staff['bug_med_help']) <= var_54117,
                                         (df_staff['bug_salary']
                                          + df_staff['bug_add_salary']
                                          + df_staff['add_salary_1']
                                          + df_staff['add_salary_2']
                                          + df_staff['bug_work_argmnt']
                                          + df_staff['bug_med_help']) * 0.22,
                                         var_54117 * 0.22) + df_staff['bug_vac_reserv'] * 0.22

### Показник **5.4.1.5.8. профспілкові відрахування**

In [ ]:
# Визначення видношення до профспілки
df_staff['bug_labour_union'] = np.where(df_staff['tabNum'].str.startswith(('труд'), na=False), 0, (df_staff['bug_salary']
                                                                                                   + df_staff['bug_add_salary']
                                                                                                   + df_staff['add_salary_1']
                                                                                                   + df_staff['add_salary_2']
                                                                                                   + df_staff['bug_vac_reserv']
                                                                                                   + df_staff['bug_indexing']
                                                                                                   + df_staff['bug_med_help']
                                                                                                   + df_staff['bug_gov_insurance']) * 0.05)

In [ ]:
df_staff['bug_labour_union'].loc[df_staff.tabNum == 'труд_4']

178944    0.0
178945    0.0
178946    0.0
178947    0.0
178948    0.0
178949    0.0
178950    0.0
178951    0.0
178952    0.0
178953    0.0
178954    0.0
178955    0.0
178956    0.0
178957    0.0
178958    0.0
178959    0.0
178960    0.0
178961    0.0
178962    0.0
178963    0.0
178964    0.0
178965    0.0
178966    0.0
178967    0.0
178968    0.0
178969    0.0
178970    0.0
178971    0.0
178972    0.0
178973    0.0
178974    0.0
178975    0.0
178976    0.0
178977    0.0
178978    0.0
178979    0.0
178980    0.0
178981    0.0
178982    0.0
178983    0.0
178984    0.0
178985    0.0
178986    0.0
178987    0.0
178988    0.0
178989    0.0
178990    0.0
178991    0.0
Name: bug_labour_union, dtype: float64

### Для зберігання остаточного розрахунку необхідно здійснити заміну імен вимірів

In [ ]:
df_staff = df_staff.rename(columns={'tabNum': 'Таб №',
                                        'avg_salary': 'Середня зп звітнього року',
                                        'period': 'Місяць бюджетного року',
                                        'Name': 'ПІБ',
                                        'CFOcode': 'ЦФУ код',
                                        'CFOname': 'ЦФУ назва',
                                        'bug_salary': '5.4.1.1.0.',
                                        'vacantion': 'Планові відпустки, дн. (в)',
                                        'bug_vacantion': '5.4.1.1.8.',
                                        'bug_gen_salary': '5.4.1.1.1.',
                                        'bug_add_salary': '5.4.1.1.2.',
                                        'add_salary_1': '5.4.1.1.3.3.',
                                        'add_salary_2': '5.4.1.1.3.5.',
                                        'bug_vac_reserv': '5.4.1.1.5.',
                                        'bug_work_argmnt': '5.4.1.1.4.',
                                        'bug_med_help': '5.4.1.3.',
                                        'bug_index': 'індекс (в)',
                                        'bug_indexing': '5.4.1.1.7.',
                                        'bug_gov_insurance': '5.4.1.2.1.',
                                        'bug_labour_union': '5.4.1.5.8.',
                                        })

### Попередній вигляд остаточного вигяду розрахунку перед зберіганням

In [ ]:
print(df_staff.head(2))

  Таб № Місяць бюджетного року                          ПІБ   ЦФУ код  \
0     8                 січень  Багатько Сергій Миколайович  1.19.15.
1     8                 січень  Багатько Сергій Миколайович  1.19.15.

                 ЦФУ назва  Середня зп звітнього року  5.4.1.1.0.  \
0  Операційний департамент                     1000.0         0.0
1  Операційний департамент                     1000.0         0.0

   Планові відпустки, дн. (в)  5.4.1.1.8.  5.4.1.1.1.  5.4.1.1.2.  \
0                           0           0           0     41600.0
1                           0           0           0     41600.0

   5.4.1.1.3.3.  5.4.1.1.3.5.  5.4.1.1.5.  5.4.1.1.4.  5.4.1.3.  індекс (в)  \
0           0.0           0.0         0.0         0.0   32000.0     0.00832
1           0.0           0.0         0.0         0.0       0.0     0.00832

   5.4.1.1.7.  5.4.1.2.1.  5.4.1.5.8.
0     612.352     16192.0   4520.2176
1     346.112      9152.0   2554.9056

In [ ]:
df_staff = df_staff.drop(['Середня зп звітнього року', 'Планові відпустки, дн. (в)', 'індекс (в)'], axis=1)

In [ ]:
df_staff.columns

Index(['Таб №', 'Місяць бюджетного року', 'ПІБ', 'ЦФУ код', 'ЦФУ назва',
       '5.4.1.1.0.', '5.4.1.1.8.', '5.4.1.1.1.', '5.4.1.1.2.', '5.4.1.1.3.3.',
       '5.4.1.1.3.5.', '5.4.1.1.5.', '5.4.1.1.4.', '5.4.1.3.', '5.4.1.1.7.',
       '5.4.1.2.1.', '5.4.1.5.8.'],
      dtype='object')

##**Зберігання результуючого датасету до папки "Out"**

In [ ]:
path_out = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/Out/fop.xlsx'

In [ ]:
df_staff.to_excel(path_out)

In [ ]:
print("Calculation Done! 🎉 ")

Calculation Done! 🎉

##**Форматування файлу для SA**

In [ ]:
path_in ='/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/Out/fop.xlsx'

In [ ]:
sheet_df_dictonary = pd.read_excel(path_in, engine='openpyxl', sheet_name=['Sheet1'], skiprows=0)

In [ ]:
Sheet1 = sheet_df_dictonary['Sheet1'].drop(['Unnamed: 0'], axis=1)

In [ ]:
print(Sheet1.columns)

Index(['Таб №', 'Місяць бюджетного року', 'ПІБ', 'ЦФУ код', 'ЦФУ назва',
       '5.4.1.1.0.', '5.4.1.1.8.', '5.4.1.1.1.', '5.4.1.1.2.', '5.4.1.1.3.3.',
       '5.4.1.1.3.5.', '5.4.1.1.5.', '5.4.1.1.4.', '5.4.1.3.', '5.4.1.1.7.',
       '5.4.1.2.1.', '5.4.1.5.8.'],
      dtype='object')

In [ ]:
def fResultForUploadSA(vArticleCode, vArticleName):
  # Виборка статті для агрегації
  df_new = Sheet1[['Місяць бюджетного року', 'ЦФУ код', 'ЦФУ назва', vArticleCode]].copy()
  # Початковий датафрейм
  df_tmp = df_new[df_new['Місяць бюджетного року'] == 'січень']
  result = df_tmp.groupby(['ЦФУ код', 'ЦФУ назва'])[vArticleCode].aggregate('sum').to_frame().reset_index()
  #
  result.insert(0, 'Назва статті', vArticleName)
  result.insert(0, 'Код статті', vArticleCode)
  # 
  result_total = result.rename(columns = {vArticleCode:'січень'})
  #
  months = ['лютий', 'березень', 'квітень', 'травень', 'червень', 'липень', 'серпень', 'вересень', 'жовтень', 'листопад', 'грудень']
  for i in months:
    df_new_tmp = df_new[df_new['Місяць бюджетного року'] == i]
    result = df_new_tmp.groupby(['ЦФУ код', 'ЦФУ назва'])[vArticleCode].aggregate('sum').to_frame().reset_index()
    result.insert(0, 'Назва статті', vArticleName)
    result.insert(0, 'Код статті', vArticleCode)
    df_tmp = result.rename(columns = {vArticleCode: i})
    result_total = pd.merge(result_total, df_tmp)

  return result_total

In [ ]:
cluster_1 = fResultForUploadSA('5.4.1.1.0.','основна заробітна плата (оклади) - бюджет')
cluster_2 = fResultForUploadSA('5.4.1.1.8.','Виплачені відпустки (3-й клас) - бюджет')
cluster_3 = fResultForUploadSA('5.4.1.1.1.','основна заробітна плата')
cluster_4 = fResultForUploadSA('5.4.1.1.2.','додаткова заробітна плата')
cluster_5 = fResultForUploadSA('5.4.1.1.3.3.','премія за підсумками роботи Банку (за фінансовий рік)')
cluster_6 = fResultForUploadSA('5.4.1.1.3.5.','інші премії')
cluster_7 = fResultForUploadSA('5.4.1.1.5.','резерв відпусток')
cluster_8 = fResultForUploadSA('5.4.1.1.4.','трудові угоди')
cluster_9 = fResultForUploadSA('5.4.1.3.','мат. допомога і інші утримання')
cluster_10 = fResultForUploadSA('5.4.1.1.7.','індексація')
cluster_11 = fResultForUploadSA('5.4.1.2.1.','Обов\'язкове державне пенсійне та соціальне страхування')
cluster_12 = fResultForUploadSA('5.4.1.5.8.','профспілкові відрахування')

In [ ]:
pdList = [cluster_1, cluster_2, cluster_3, cluster_4, cluster_5, cluster_6, cluster_7, cluster_8, cluster_9, cluster_10, cluster_11, cluster_12]
table = pd.concat(pdList)

## Доповнення стовбців для шаблону

In [ ]:
table.insert(4, 'грудень 2022', '')
table.insert(4, 'Код проекта','')
table.insert(2, 'Код бізнеса','')
table.insert(2, 'Валюта', '[UAH]')
table.insert(2, 'Назва підрозділу', '')
table.insert(2, 'Код підрозділу', '')
table.insert(2, 'Назва дирекції','')
table.insert(2, 'Код дирекції','')
table.insert(0, 'Назва ініціатора','')
table.insert(0, 'Код ініціатора','1.42.')
table.insert(0, 'Назва адміністратора','')
table.insert(0, 'Код адміністратора', '1.43.')

In [ ]:
# table.head()

In [ ]:
path_out = '/content/gdrive/Shareddrives/Фінансовий департамент/Управління фінансового планування/Бюджет 2023/Budget FOP/Out/fop_SA.xlsx'

In [ ]:
table.to_excel(path_out, index=False)

In [ ]:
print("Formatting Done! 🎉 ")